<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>

<script type="text/javascript">
    $(document).ready(function() {
        var twitter_handle = $('#twitter_handle');
        var tweets_size = $('#tweets_size');
        var search_button = $('#search_button');
        search_button.click(function() {
            var redirect_url = '/search/' + twitter_handle.val() + '/' + tweets_size.val() + '/';
            window.location.replace(redirect_url);

        });
    });
</script>

<body>
	<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Navbar</a>
  <form onsubmit="return false;">
  <div class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Twitter Handle" id="twitter_handle">
    <input class="form-control mr-sm-2" type="search" placeholder="No of tweets" id="tweets_size">
  </form>
  <button class="btn btn-outline-success my-2 my-sm-0" id="search_button">Search</button>
</nav>

	{% block content %}{% endblock %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>