{% extends "base.html" %}
	{%block title%}{{twitter_handle}}{%endblock%}

{% block content %}
	{% for i in tweets %}
		<div class="card">
			<div class="card-body">
				 <h4 class="card-text">{{ i.text }}</h4>
 				<a href="#" class="btn btn-sm btn-outline-primary" id="{{i.id}}">Analyse</a>
 				<a href="{{ i.source_url }}" target="_blank" class="btn btn-sm btn-outline-primary">See on Twitter</a>
			</div>
		<canvas id="{{i.id}}c"></canvas>
		</div>
		<script type="text/javascript">
			var j = jQuery.noConflict();
			j("#{{i.id}}").click(function(e) {
    		e.preventDefault();
    		j.ajax({
		        type: "GET",
		        url: "/ajax/",
		        data: { 
		            text: "{{i.text}}"
		        },
		        success: function(result) {
		        	function randomNumber(min, max) {  
    				min = Math.ceil(min); 
    				max = Math.floor(max); 
    				return Math.floor(Math.random() * (max - min + 1)) + min; 
					} 
						var ctx = document.getElementById('{{i.id}}c').getContext('2d');
						var json_data = JSON.parse(result)
						var data_label = new Array();
						var data_data = new Array();
						var sum = 0;
						for(key in json_data.attributeScores){
							data_label.push(key)
							var num = json_data.attributeScores[key].summaryScore.value*100;
							data_data.push(num);

						}  
						var red = randomNumber(0,255); 
						var green = randomNumber(0,255); 
						var blue = randomNumber(0,255);

						var rgb = 'rgb(' + red + ',' + green + ',' + blue + ')';

						var chart = new Chart(ctx, {
					    // The type of chart we want to create
					    type: 'pie',

					    // The data for our dataset
					    data: {
					        labels: data_label,
					        datasets: [{
					            label: 'Chart',
					            backgroundColor: rgb,
					            borderColor: 'rgb(255, 255, 255)',
					            data: data_data
					        }]
					    },

					    // Configuration options go here
					    options: {}
					});
		        },
		        error: function(result) {
		            alert('error');
		          }
    		});
		});
		</script>
	{% endfor %}
{% endblock %}


